.field {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	border: solid 1px #dadada;
}

.field div {
	font-size: 60px;
	text-align: center;
	box-sizing: border-box;
	width: 33.33%;
	height: 100px;
	padding: 0 auto;
	border: solid 1px #dadada;
}

.field img {
	width: 98px;
}
